*{
    padding: 1%;
    margin: 1%;
}
/*Identificador css*/
#titulo-principal{ /*para poner id se pone el signo de # seguido del nombre, este no debe repetirse dentro del código*/
    color: rgb(77, 255, 0);
    text-align: center;
    font-size: 40px;
    margin: 10px;
}
/*Lo pongo como comentario porque las propiedades las estoy usando desde el id titulo-principal
h1{
    color: blue;
    text-align: center;
    font-size: 30px;
    margin: 15px;
}*/
h2{
    color: rgb(31, 166, 208);
    text-align: center;
    font-size: 20px;
}
p{
    color: green;
}
div{
    border: 5px solid blue;
    text-align: center;
    background-color: rgba(255, 1, 1, 0.123);
}
/*Clase en css es cuando reemplazas el nombre e ingresas otro para trabajar con algo en específico*/
.clase{ /*En este caso, copié lo de div en la clase llamada .clase*/
    border: 5px solid rgb(255, 0, 170);
    text-align: center;
    background-color: rgba(1, 200, 255, 0.369);
    margin: 15px 200px;
}
.titulo-uno{
    color: rgb(255, 162, 0)
}
a{
    color: rgb(155, 47, 47);
}
.marco{
    border: 1px solid black;
    width: 90%;
    height: 600px;
}
.centrar{
    text-align: center;
}
.boton{
    background-color: white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
.boton:hover{
    background-color: #457b9d;
    color: white;
}