/* Define y utiliza variables CSS globales. Estas variables se pueden definir dentro del bloque :root y luego ser utilizadas en cualquier parte del documento.*/
:root {
    --main-color: #3366ff;
    --font-size: 16px;
}

/* enlace no visitado */
a:link {
    color: #FF0000;
}

/* visitado link */
a:visited {
    color: #00FF00;
}

/* pasar el ratón por encima del enlace */
a:hover {
    color: #FF00FF;
}

/* enlace seleccionado */
a:active {
    color: #0000FF;
}

/* selecciona el PRIMER li*/
li:first-child {
    color: red;
}

/*SELECCIONA EL li ESPECIFICADO (en este caso es el li posición 5)*/
li:nth-child(5) {
    background-color: #0F0;
}

/*Selecciona todos los elementos <li> que ocupen una posición PAR dentro de su contenedor padre.*/
li:nth-child(2n) {
    background-color: rgb(65, 18, 77);
}

/*selecciona el ULTIMO li*/
li:last-child {
    color: #f00;
}

/*Selecciona el segundo elemento <li> que sea del mismo tipo (es decir, tenga la misma etiqueta) dentro de su contenedor padre.*/
li:nth-of-type(2){
    color: #FF00FF;
}

/*Se excluye a todo elemento con la clase excluir*/
div ul:not(.excluir){
    background-color: #FF0000;
}

/*Selecciona elementos que no tienen contenido entre sus etiquetas de apertura y cierre.*/
div:empty {
    border: none;
}

/* Esta función permite agrupar múltiples selectores CSS en una sola regla. Aplica el mismo estilo a h1, h2 y h3 */
div:is(h1, h2, h3) {
    color: blue;
}

/* Selecciona un elemento si contiene uno o más elementos que coinciden con un selector dado. Selecciona el div que contiene al menos un elemento 
span */
div:has(span) {
    background-color: yellow;
}

/* Define un grupo de selectores que pueden ser reutilizados. Es similar a :is(), pero no afecta a la especificidad de los selectores. Aplica el 
mismo estilo a p, ul y ol */
div:where(p, ul, ol) {
    margin: 0;
    padding: 0;
}