/*Selecciona el primer carácter de un elemento. Se utiliza para aplicar estilos específicos al primer carácter, como cambiar el tamaño de la 
fuente o aplicar estilos de texto especiales.*/
p::first-letter {
    font-size: 150%;
    color: red;
}

/*Selecciona la primera línea de texto dentro de un elemento. Permite aplicar estilos específicos a la primera línea de un bloque de texto.*/
p::first-line {
    font-weight: bold;
    text-transform: uppercase;
}

/* Permiten insertar contenido generado antes o después del contenido de un elemento, respectivamente. Se utilizan comúnmente para agregar 
decoraciones o contenido adicional a elementos sin modificar directamente el HTML.*/
button::before {
    content: "🔍 ";
}
button::after {
    content: " Search";
    font-weight: bold;
}

/*Selecciona el texto de marcador de posición dentro de un elemento de formulario, como un <input> o <textarea>. Se utiliza para aplicar 
estilos específicos al texto de marcador de posición.*/
input::placeholder {
    color: #999;
    font-style: italic;
}

/*Se utiliza para seleccionar y aplicar estilos al marcador (como un número, viñeta o contador) que se muestra antes de cada elemento de 
lista (<li>).*/
li::marker {
    color: red;
    font-weight: bold;
}

/*Se utiliza para aplicar estilos al texto seleccionado por el usuario en el documento. Puedes cambiar el color, el fondo y otras propiedades 
visuales del texto seleccionado.*/
::selection {
    background-color: #ffd700; /* Color de fondo amarillo */
    color: #333; /* Color de texto oscuro */
}