/** Para que funcione correctamente DISPLAY FLEX, es necesario que el contenedor de todo sea el que lleve DISPLAY FLEX, los elementos dentro de 
/**    ese contenedor son los flex__item, que son los hijos directos y que esos son los que se verán afectados por el DISPLAY FLEX.*/

div {
    /*! Contenedor Padre*/
    display: flex;
    flex-direction: column;
    /*Valores: row, row-reverse, column, column-reverse*/
    flex-wrap: nowrap;
    /*Controla cómo se comportan los elementos flex cuando no caben en una sola línea (nowrap - por defecto, wrap, wrap-reverse).*/
    flex-flow: column wrap;
    /*flex-flow: <flex-direction> <flex-wrap>;*/
    justify-content: space-between;
    /*Valores: flex-start, flex-end, center, space-between, space-around, space-evenly*/
    align-items: center;
    /*Valores: stretch, flex-start, flex-end, center, baseline*/
    align-content: space-around;
    /*Valores: flex-start, flex-end, center, space-between, space-around, stretch*/
    direction: rtl;
    /*La direccion de los items es de izquierda a derecha (right to left)*/
}

.flex__item {
    /*! Contenedor hijo directo*/
    background-color: violet;
    text-align: center;
    flex: 1 0 auto;
    /*Valores: flex-grow, flex-shrink, flex-basis /*! (OPCIONAL)*/
    align-self: center;
    /*Alinea un elemento flex individualmente dentro del contenedor (stretch - por defecto, flex-start, flex-end, center, baseline).*/
}

/*! Alineacipon en los ejes*/
/*? justify-content se utiliza para alinear elementos dentro de un contenedor flex (flex container) a lo largo del eje principal. */
div {
    justify-self: start;
    /*Los elementos se alinean hacia el inicio del contenedor flex en el eje principal. Horizontal se alinearán hacia la izquierda. Vertical se alinearán hacia arriba.*/
    justify-self: end;
    /*Los elementos se alinean hacia el final del contenedor flex en el eje principal. Horizontal se alinearán hacia la derecha. Vertical se alinearán hacia abajo.*/
    justify-content: center;
    /*Los elementos se alinean en el centro del contenedor flex a lo largo del eje principal.*/
    justify-content: space-around;
    /*el espacio se distribuye de manera uniforme alrededor de los elementos, incluyendo el espacio antes del primer elemento y después del último elemento.*/
    justify-content: space-between;
    /*el primer elemento se coloca al inicio del contenedor y el último al final, y el espacio restante se distribuye de manera uniforme entre los elementos.*/
    justify-content: space-evenly;
    /* Los elementos se distribuyen de manera uniforme del contenedor flex con un espacio igual entre ellos, incluyendo el espacio antes y después de cada elemento.*/
}

/*? align-items se utiliza para alinear elementos dentro de un contenedor flex a lo largo del eje perpendicular al eje principal.*/
section {
    align-items: start;
    align-items: end;
    align-items: center;
    align-items: baseline;
    align-items: stretch;
}

/*? align-content se utiliza para alinear y distribuir filas o líneas de elementos flex dentro de un contenedor flex cuando hay múltiples líneas o filas de elementos. 
/*? Esta propiedad solo tiene efecto cuando hay más de una línea de elementos flex dentro del contenedor.*/
.div {
    align-content: start;
    align-content: end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: stretch;
}

/*? align-self se utiliza para controlar la alineación específica de un elemento flexible dentro de un contenedor flex en el eje perpendicular (eje transversal) al eje principal del contenedor.*/
article {
    align-self: center;
    /*
    align-self: auto | flex-start | flex-end | center | baseline | stretch;
    
    auto: Usa la alineación predeterminada definida por align-items del contenedor.
    flex-start: Alinea el elemento al inicio del contenedor flex en el eje perpendicular.
    flex-end: Alinea el elemento al final del contenedor flex en el eje perpendicular.
    center: Alinea el elemento en el centro del contenedor flex en el eje perpendicular.
    baseline: Alinea el elemento según la línea base (línea base de texto) del contenido.
    stretch: Estira el elemento para ocupar toda la altura (si el eje principal es horizontal) o toda 
    */
}

/*! ORDER
/*? order se utiliza para controlar el orden de los elementos hijos dentro de un contenedor flex o grid. */
.contenedor {
    display: flex;
}

.item:nth-child(1) {
    order: 3;
    /* Este elemento se mostrará tercero */
}

.item:nth-child(2) {
    order: 1;
    /* Este elemento se mostrará primero */
}

.item:nth-child(3) {
    order: 2;
    /* Este elemento se mostrará segundo */
}

/*! Flex básis, shrink y grow*/
/*? Son propiedades fundamentales utilizadas en el modelo de diseño flexible (flexbox) para controlar el comportamiento de los elementos flexibles dentro de un contenedor flex.*/
.item {
    flex-basis: 50px;
    /* Establece el tamaño base del elemento a 200px */
    flex-grow: 1;
    /* Permite que el elemento crezca para llenar el espacio disponible */
    flex-shrink: 0;
    /* Evita que el elemento se contraiga cuando hay poco espacio */
    flex: 1 1 auto;
    /* ! SHORTHAND ---> flex grow, shrink, basis*/
}

