/*
? BEM (Block Element Modifier) es una metodología de nomenclatura y estructura de clases CSS que se utiliza para desarrollar interfaces 
?   web más escalables, mantenibles y reutilizables. El objetivo principal de BEM es mejorar la claridad y la consistencia del código CSS 
?   al organizar y nombrar las clases de manera semántica y estructurada.
*/

/*! Bloques (Blocks):
Los bloques representan los componentes independientes y reutilizables de una interfaz. Un bloque es una entidad autónoma que realiza una 
función específica en la interfaz. 
Por ejemplo, un encabezado (header), un menú (menu), un botón (button), etc.
*/
.button {
    border: none;
}

/*! Elementos (Elements):
Los elementos son partes de un bloque y no tienen sentido o uso fuera de ese bloque específico. Los elementos están estrechamente 
relacionados con un bloque y se representan utilizando una clase que sigue el formato block__element. 
Por ejemplo, un botón dentro de un encabezado podría ser un elemento button del bloque header.
*/
.header__button {
    border: none;
}

/*! Modificadores (Modifiers):
Los modificadores se utilizan para cambiar la apariencia o el comportamiento de un bloque o elemento. Los modificadores se representan 
utilizando una clase que sigue el formato block__element--modifier o block--modifier.
*/
.button--large {
    background-color: #00f;
}

/*! Estructura BEM*/
/*
<header class="header">
    <nav class="header__nav">
        <ul class="header__menu">
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Home</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">About</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link header__menu-link--active">Services</a>
            </li>
        </ul>
    </nav>
</header>
*/