button {
    outline: 2px solid red; /* Aplicar un contorno rojo de 2px de grosor y estilo sólido */
}

/*
outline-width: Especifica el grosor del contorno.
outline-style: Especifica el estilo del contorno.
outline-color: Especifica el color del contorno.
outline-offset: Especifica la distancia entre el contorno y el borde del elemento.
*/