h1{
    color: red;
    font-size: 2em;
    font-style: italic;
    padding: 15px; /*Espacio de las capas*/
    border: 18px solid blue; /*Espacio de las capas*/
    /*margin: 100px; */
    background-color: orange;
    text-align: center;
    /*margin-top:40px;
    margin-rigth:10px;
    margin-bottom:20px;
    margin-left:30px;*/
    margin: 40px 10px 15px 30px; /*Se aplica comenzando de arriba, derecha, abajo, izquierda*/
    /*margin: 40px 10px 15px --- Se aplican los mismos valores de izquierda y derecha, ya que solo hay 3 valores*/
    /*margin: 40px 10px --- Se aplican los mismos valores de arriba y abajo y de izquierda y derecha, ya que solo hay 2 valores*/
    /*margin: auto 10px; se centra en 10 pixeles*/
}

a:link{ /*Color del link*/
    color: blue;
    text-decoration: none; /*Quitar subrayado de texto*/
}
a:visited{ /*Color del link una vez demos clic en el*/
    color: purple;
    text-decoration: none;
}
a:hover{ /*Color cuando estamos encima del link*/
    color: aqua;
    text-decoration: underline;
}
a:active{ /*Color cuando mantenemos presionado sobre el link*/
    color: green;
    text-decoration: underline;
}*/


/*OTRA FORMA DE HACERLO*/
a:link, a:visited{ /*Con la coma le damos los mismos valores a ambas propiedades*/
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 50px 20px;
    text-decoration: none;
    display: inline-block; /*Para no encimar los componentes*/
}
a:hover, a:active{
    background-color: bisque;
}