h1{
    color: blue;
    text-align: center;
}
ul{
    list-style-type: none;
    background-color: rgb(68, 87, 211);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{ /*Hace que se vea en barra horizontal, los ordena horizontalmente*/
    float: left;
}
li a{ /*Da color y propiedades a cada link*/
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover{ /*Cambia de color cuando nos posicionamos en el link*/
    background-color: rgb(24, 119, 202);
}
ol{
    list-style: none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}
ol li::before{ /*before es para ingresar algun texto y lo muestre antes de lo que muestra li*/
    content: "Consolas " counter(contador) ")";
    color: rgb(27, 197, 70);
}
ol li::after{ /*after es para ingresar algun texto y los muestre despues de lo que muestra li*/
    content: ".";
}