div {
    white-space: normal; /*viene por defecto*/
}

div {
    white-space: nowrap; /*no le da saltos de linea, por lo tanto, se desborda.*/
}

div {
    white-space: pre; /*el texto se visualiza tal cual se ve en el editor de código (espacios, saltos de linea.) pero se puede desbordar.*/
}

div {
    white-space: pre-wrap; /*el texto se visualiza tal cual se ve en el editor de código (espacios, saltos de linea.) no se desborda, ya que hace saltos de linea.*/
}

/*? Text-overflow: ellipsis;: Muestra puntos suspensivos (...) al final del texto que se corta para indicar que hay más contenido que no se muestra.*/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*? Text-overflow: clip;: Recorta el texto que excede el contenedor sin mostrar puntos suspensivos ni ningún otro marcador. El texto recortado no es visible.*/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/*? Overflow-wrap controla cómo se realizan los saltos de línea y el ajuste de palabras cuando el texto no cabe dentro de su contenedor.
overflow-wrap: normal;: Las palabras pueden desbordar el contenedor si no hay suficiente espacio. No fuerza un salto de línea dentro de una palabra.
overflow-wrap: break-word;: Permite que las palabras se dividan en varias líneas si no caben en una sola línea. Fuerza un salto de línea dentro de una palabra si es necesario.*/
.wrap-text {
    width: 300px;
    overflow-wrap: break-word;
}