h1 {
    /*! Selector de tipo*/
    color: #ff6347;
}

* { /*! Selector universal*/
    box-sizing: border-box;
}

.clase { /*! Selector de clase*/
    background-color: #fff;
}

#id { /*! Selector ID*/
    display: flex;
}

a[titulo]{ /*! Selector de atributo*/
    color: aqua;
}

div > span { /*! Selectores de hijo directo (hijos directos de otro elemento)*/
    background-color: antiquewhite;
}

ul > li:first-child { /*! Selector de primer hijo*/
    font-weight: bold;
}

div > p:last-child { /*" Selector de ultimo hijo*/
    margin-bottom: 20px;
}

p > span:only-child { /*! Selectro de hijo unico*/
    color: red;
}